body{
    background-color:rgba(119, 213, 72, 0.214);
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

#logo{
   margin-left:200px;
}

#wrap{
    width:1400px;
    height:1000px;
    text-align: center;
    display: inline-block;
}

#loginform{
    display: inline-block;
}

.clear{
    clear:both;
}

.btn{
    margin:30px 0 0 40px;
    border-radius: 40px;
    background: transparent;
    border: none;
    width:100px;
    height:40px;
    border: 1px solid transparent;
    background: rgba(169, 206, 117, 0.79);
}

.btn:hover,.btn:focus{
    background: rgb(44,150,72,0.445);
    outline:none;
    box-shadow: none;
    color:rgb(232, 238, 197) !important;
}

#workId,#workPw{
  background: transparent;
  border: none;
  width: 150px;
  height: 40px;
  color: rgb(118, 173, 102) !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#workId:hover,#workPw:hover,#workId:focus,#workPw:focus{
    background: transparent;
    outline:none;
    box-shadow: none;
    border-color: rgba(32, 45, 102, 0.4);
}

nav#sub_menu{
    display: inline-block;
    border-top:3px solid rgb(90,196,74);
    border-bottom: 1px dotted rgb(90,196,74) ;
}

nav#sub_menu ul{
    list-style: none;
    margin:15px 0 0 170px;
}

nav#sub_menu ul li{
    float:left;
    padding-right: 150px;
    padding-bottom: 10px;
}

nav#sub_menu a{
    color:rgb(10, 124, 245);
}

nav#sub_menu a:hover,nav#sub_menu a:focus{
    background-position:bottom;
    color:rgb(69, 159, 109);
}

#copy{
    text-align: center;
    margin:20px 0 0 30px;
    background-color:rgb(217,239,206) ;
    width:1350px;
    height:95px;
    padding:45px 0 ;
    font-size:16px;
}

article{
    min-height:700px;
}

article h1{
    font-size:30px;
    color:rgb(90,196,74);
    margin-top:50px;
}

table#productList{
    border-collapse: collapse; 
	border-top: 2px solid rgb(80, 139, 74);
	border-bottom: 1px solid rgb(80, 139, 74);
	width: 80%; 
	margin:30px 0 20px 160px;
}

#productList tr{
    text-align: center;
    border-bottom:1px solid rgb(69, 159, 109);
}

#productList td,th{
    padding: 10px;
}

#key{
  background: transparent;
  border: none;
  width: 150px;
  height: 30px;
  color: rgb(118, 173, 102) !important;
  border: 1px solid transparent;
  background: rgba(199, 221, 187, 0.58);
  border-radius: 40px;
}

#key:hover,#key:focus{
    background: transparent;
    outline:none;
    box-shadow: none;
    border-color: rgba(32, 45, 102, 0.4);
}

#prod_form table input{
    margin-right:-30px;
}
#list{
    margin:50px 0 0 400px;
}
#list th,.reply th,#reply th,#ctdList th{
   background-color: rgba(90,196,74,0.3);
   border-radius: 20px;
   color:#0e411d;
}

#list tr{
    height:20px;    
}

#list td{
    width:700px;
    text-align:left;
    padding: 15px;
}

#list input{
  background: transparent;
  border: none;
  width: 200px;
  height: 40px;
  color: #0e411d !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#list textarea{
  background: transparent;
  border: none;
  width: 200px;
  height: 100px;
  color: #0e411d !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#memberList{
    display:inline-block;
    margin-top:50px;
    border-top:3px solid rgb(33, 90, 37);
}

#memberList td{
    padding:20px;
}

.reply {
    display:inline-block;
    margin-right:40px;
}

.reply textarea{
  background: transparent;
  border: none;
  width: 200px;
  height: 100px;
  color: #0e411d !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
}

.btn1{
    margin-left:20px;
    border-radius: 40px;
    background: transparent;
    border: none;
    width:50px;
    height:30px;
    border: 1px solid transparent;
    background: rgba(169, 206, 117, 0.79);
}

.btn1:hover,.btn1:focus{
    background: rgb(44,150,72,0.445);
    outline:none;
    box-shadow: none;
    color:rgb(232, 238, 197) !important;
}

#reply{
    display:inline-block;
    margin-left:60px;
}

#reply td{
  background: transparent;
  border: none;
  width: 400px;
  height: 50px;
  color: #0e411d !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
}

#ctdList{
    margin-top:60px;
}

#ctdList input{
    width:200px;
    height:40px;
    vertical-align:middle;
    background: transparent;
    border: none;
    color: #0e411d !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    margin-left:20px;
}

#ctdList .btn{
    margin-bottom:30px;
    border-radius: 40px;
    background: transparent;
    border: none;
    width:60px;
    height:30px;
    border: 1px solid transparent;
    background: rgba(169, 206, 117, 0.79);
}

#ctdList .btn:hover,#ctdList .btn:focus{
    background: rgb(44,150,72,0.445);
    outline:none;
    box-shadow: none;
    color:rgb(232, 238, 197) !important;
}